{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "plugins": [
    "prettier"
  ],
  "parser": "babel-eslint",
  "extends":  ["airbnb-base", "prettier"],
  "rules": {
    "linebreak-style": ["error", "unix"]
  }
}
